* {
  box-sizing: border-box;
}

body {
  background-image: url("https://wallscloud.net/img/resize/1280/1024/MM/2025-01-27-the-boat-on-the-water-1-65391.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-flow: row;
}
